.signature {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
}

.pl-10 {
    padding-left: 10px;
}

td.signature {
    text-align: left;
    padding-left: 10px;
}

img.sign {
    width: 120px;
    position: relative;
    top: 5px;
    right: -75px;
}